.footer
  border-top 1px solid $mid
  padding-top $spacer * 3
  padding-bottom $spacer * 3
  bottom 0
  position fixed
  width 100%
  background $light

  .content-wrapper
    margin-bottom 0
    padding-bottom 0

