.lang-picker
  display flex 
  align-items center
  font-size $spacer * 2
  color $back
  margin-right $spacer
  cursor pointer

  span 
    display block
    height 18px

  span + span 
    margin-left $spacer

  span.selected 
    color $hover