.progress-bar
    height $spacer
    background $light
    position sticky
    top 0
    width 100%
    z-index 1
    border-bottom 1px solid $mid

    .progress
        height 100%
        background #8FA5BC
        transition all 2s ease