.progress-bar 
    height $spacer
    background $light
    position fixed
    top 105px
    width 100%
    z-index 1
    border-bottom 1px solid $mid

    .progress
        height 100%
        background $primary
        transition all 2s ease