aside.side-content
  flex none 
  padding-top $spacer * 3
  padding-left $spacer * 3
  min-width 219px

  .fixed-container
    position fixed


@media (max-width: $xs-device)
  aside.side-content
    display none