.tip
    padding $spacer * 2 0
    align-items center

    .avatar
        width $spacer * 12
        position relative 
        height $spacer * 8

        img
            width $spacer * 12
            top 50%
            position relative
            transform translateY(-50%)

        .bubble-tip
            position absolute
            top 50%
            transform translateY(-50%)
            right $spacer * -3
            width $spacer * 3

    .content
        background #DCEAF4
        padding $spacer * 2
        border-radius $spacer * 0.5
        margin-left $spacer * 3
        position relative
        font-size 14px