// 1E Variables
$primary = #075890
$secondary = #a62626
$highlight = #075890
$danger = #AA0000
$warning = #E1BE00
$success = #7ED321
$hover = #2E79C6
$selected = #075890
$back = #ffffff
$fore = #333E50
$light = #FAFAFA
$mid = #E6E6E6
$dark = #AAAAAA
$disabled = #E6E6E6
$active = #A9CEE7
// Paddings and margins are multiple of $spacer
$spacer = 8px
$font-size = 16px
$header-toolbar-height = 64px
// Font family is Open Sans Regular
$font-family = 'Baloo'
$md-device = 800px
$xs-device = 535px